<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{title}}
    <h1>RESTABLECER PASSWORD</h1>
    <h2>Ingresa tu correo</h2>
       <form method="post" action="/api/users/sendMailReset" >
            <input type="email" name="email" placeholder="Escribe correo a recuperar">
            <button type="submit">RECUPERAR CONTRASEÑA</button>
        </form>


</body>

</html>
